html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#panels-container {
  width: 100%;
  height: 100%;
  display: flex;
}

#editor {
  width: 100%;
  height: 37%;
  margin-top: 8px;
  border: 1px solid black;
  border-bottom: none;
}

/* potential side effects */
.monaco-editor {
  overflow: hidden;
}

.webview-container {
  width: 100%;
  height: 62%;;
  border: 1px solid black;
}

.renderer-header {
  color: #9da5b4;
  height: 39px;
  padding: 4px 5px 0 5px;
}

#render-window {
  width: 100%;
  height: 92%;
  background-color: #353b45;
}

#attr-panel {
  width: 100%;
  height: 94%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow-y: scroll;
}

.panel-headers {
  color: #9da5b4;
  margin: 5px 10px 5px 0;
  margin-left: 10px;
  border-radius: 4px;
}

.panel-headers:hover {
  color: #21252b;
  background-color: rgb(57, 174, 112);
}

.dimensions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#export-btn {
  text-decoration: none;
  padding-top: 5px;
}
/*Template Dropdown Menu*/

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 13px;
  line-height: 0.6;
}

.btn-dropdown {
  border-left: 1px solid black;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  border: 1px solid black;
  top: 29px;
  left: 0.6px;
  background-color: rgba(53, 59, 69, .5);
  min-width: 107px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu p {
  color: #9da5b4;
  margin: 0;
  padding: 7px;
  text-decoration: none;
  display: block;
}

.dropdown-menu p:hover {
  color: #21252b;
  background-color: #39AE70;
  border-radius: 4px;
}

.dropdown-menu span {
  margin-right: 4px;
}

.show {
  display: block;
}

/* Styling For Attribute Panel Buttons*/

.attr-input {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.attr-container {
  /*padding: 3px;*/
}

.input-group {
  width: 100%;
  display: flex;
}

.input-container {
  width:45%;
  margin: 5px 0 5px 0;
  display: flex;
  justify-content: flex-end;
}

.attr-main-header {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-top: 1px solid black;

}

.main-header {
  color: #d7dae0;
  margin-left: 5px;
  font-size: 20px;
}

.attr-main-icon {
  font-size: 20px;
}

.attr-header {
  color: rgba(157, 165, 180, 0.6);
  height: 30px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.attr-header:active {
  color: #d7dae0;
}

.attr-display {
  padding-left: 8px;
  margin: 0 10px 0 10px;
  border: 1px solid black;
  background-color: #353b45;
  /*background-color: rgba(156, 127, 245, .1);*/
}

.input-container label {
  color: rgba(157, 165, 180, 0.6);
}

/*.parsed-attr-container {
  padding: 5px;
}*/

.d3legend {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.legend-header {
  display: flex;
  justify-content: center;
}

.d3legend h5 {
  color: #8D8B8F;
}

.icon-purple {
  color: #9C7FF5;
  margin-right: 4px;
}

.icon-green {
  color: #39AE70;
  margin-right: 4px;
}

.parser-input {
  width: auto;
  margin: 5px 0 5px 0;
  display: flex;
  justify-content: center;
  /*justify-content: flex-end;*/
}

.parsed-input {
  width: fit-content;
  margin: 0 5px 0 5px;
}

.parsed-header {
  margin: 5px;
  display: flex;
  justify-content: center;
  /*justify-content: flex-end;*/
  flex-wrap: wrap;
}

.parsed-method-obj {
  color: #9C7FF5;
}

.parsed-method-name {
  color: #39AE70;
}

.parser-hr {
  border-color: black;
  margin-bottom: 0;
}

.parser-submit-btn {
  width: 100%;
  height: 40px;
  font-size: 18px;
}

.btn-default {
  height: 30px;
  font-size: 13px;
}
