html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
  /*font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;*/
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#panels-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.btn-default {
  height: 30px;
  font-size: 13px;
}

/*main logo*/
.headerlogo {
  height: 28px;
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: -8px;
}

/*top tool bar*/
.main {
  height: 62px !important;
}

/* Editor Window */
.editor-container {
  width: 100%;
  height: calc(50% - 4px);
  border: 1px solid black;
  /*border-bottom: none;*/
  margin-top: 8px;
}

.editor-subcontainer {
  width: 100%;
  height: calc(100% - 40px);
}

#editor {
  width: 100%;
  height: 100%;
}

/* This may have some potential side effects but as of now don't see any */
.monaco-editor {
  overflow: hidden;
}

.renderer-container {
  width: 100%;
  height: calc(50% - 4px);
  border: 1px solid black;
}

/* Renderer Window */
.renderer-header {
  color: #9da5b4;
  height: 39px;
  padding: 4px 5px 0 5px;
}

#render-window {
  width: 100%;
  height: 100%;
  background-color: white;
}

.webview-container {
  width: 100%;
  height: calc(100% - 40px);
}

.pop-window-btn {
  height: 25px;
  width: 30px;
}

.pop-window-btn .icon-popup {
  font-size: 15px;
}

.pop-window-btn .icon-popup:hover {
  color: #9da5b4;
}

/* attribute panel styling */
#attr-panel {
  width: 100%;
  height: calc(100% - 69px);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow-y: scroll;
}

.panel-headers {
  color: #CACFD2;
  margin: 5px 10px 5px 0;
  margin-left: 10px;
  border-radius: 4px;
}

.generate-btn {
  margin-left: 20px;
  height: 29px;
  font-size: 13px;
}

.panel-headers:hover {
  color: #21252b;
  background-color: #FF5733;
}

.attr-submit-btn {
  width: 100%;
  height: 100%;
}

.submit-btn {
  width: 100%;
  height: 30px;
  border: black;
}

/* main header toolbar styling */
#export-btn {
  text-decoration: none;
  padding-top: 5px;
}

/*Template Dropdown Menu*/
.dropdown {
  position: relative;
  display: inline-block;
  font-size: 13px;
  line-height: 0.6;
}

.btn-dropdown {
  border-left: 1px solid black;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  border: 1px solid black;
  top: 29px;
  left: -0.4px;
  background-color: rgb(53, 59, 69);
  min-width: 117px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu p {
  color: #CACFD2;
  margin: 0;
  padding: 7px;
  text-decoration: none;
  display: block;
}

.dropdown-menu p:hover {
  color: #21252b;
  background-color: #FF5733;
  border-radius: 4px;
}

.dropdown-menu span {
  margin-right: 4px;
}

.show {
  display: block;
}

/* Styling For Attribute Panel Buttons*/
.attr-input {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-group {
  width: 100%;
  display: flex;
}

.input-container {
  width:45%;
  margin: 5px 0 5px 0;
  display: flex;
  justify-content: flex-end;
}

.attr-main-header {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-top: 1px solid black;

}

.main-header {
  color: #CACFD2;
  margin-left: 5px;
  font-size: 20px;
}

.attr-main-icon {
  font-size: 20px;
}

.attr-header {
  color: #CACFD2;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.attr-header:active {
  color: #d7dae0;
}

.attr-display {
  padding-left: 8px;
  margin: 0 10px 0 10px;
  border: 1px solid black;
  background-color: #353b45;
  /*background-color: rgba(156, 127, 245, .1);*/
}

.input-container label {
  color: #CACFD2;
}

.btn-default {
  height: 30px;
  font-size: 13px;
}

/* Footer Styling */
.footer-status {
  width: 100%;
  display: flex;
  align-items: center;
}

.status-bar-left {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 33%;
  overflow-x: auto;
  display: flex;
  align-items: center;
}

.file-info {
  color: #9da5b4;
}

.error-helper-status {
  color: #9da5b4;
  margin-left: 20px;
}

.editor-line-info {
  color: #9da5b4;
  margin-left: 20px;
}

.error-helper {
  margin-right: 3px;
}

.status-bar-right {
  align-self: flex-end;
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.window-status {
  color: #FFDD3A;
  margin-left: 15px;
}

.current-window {
  margin-left: 4px;
}

.data-info {
  color: #39AE70;
  margin-left: 15px;
}

.data-progress {
  margin-left: 4px;
}
