html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#panels-container {
  width: 100%;
  height: 100%;
  display: flex;
}

/*#panel-container > * {
  flex: 1;
}*/

/*#left-sizer{
  background-color: red;
  width: 5px;
  cursor: col-resize;
  flex: none;
}

#right-sizer{
  background-color: red;
  width: 5px;
  cursor: col-resize;
  flex: none;
}*/

/*Left Panel Styling*/

#left-panel {
  width: 10%;
  /*padding: 10px;*/
  background-color: lightgrey;
}

#file-system {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: 1px solid ;*/
  text-align: center;
}

#data-management {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: 1px solid;
  border-top: none;*/
  text-align: center;
}

/*Center Panel Styling*/

#center-panel {
  width: 100%;
  height: 100%;
  /*border: 1px solid;*/
}

#editor {
  width: 100%;
  height: 50%;
  /*border: 1px solid;*/
}

/* potential side effects */
.monaco-editor {
  overflow: hidden;
}

#render-window {
  width: 100%;
  height: 50%;
  background-color: white;
}

/*Right Panel Styling*/

#attr-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /*align-items: right;*/
  color: lightgrey;
  border: 1px solid purple;
  border-radius: 5px;
  overflow-y: scroll;
}

.panel-headers {
  /*margin-left: 5px;*/
  text-align: left;
}

.dimensions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/*Template Dropdown Menu*/

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 13px;
  line-height: 0.6;
}

.dropdown-menu {
  display: none;
  position: absolute;
  border-radius: 2px;
  top: 23px;
  left: 2.6px;
  color: #333;
  background-color: #E5E5E5;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu p {
  color: black;
  margin: 0;
  padding: 7px;
  text-decoration: none;
  display: block;
}

.dropdown-menu p:hover {
  color: purple;
}

.dropdown-menu span {
  margin-right: 4px;
}

.show {
  display: block;
}

/* Styling For Attribute Panel Buttons*/

.attr-input {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*.dimensions-display {
  display: inline-table;
}*/

.input-group {
  width: 100%;
  display: flex;
}

.input-container {
  width: 50%;
  margin: 5px 0 5px 0;
  display: flex;
  justify-content: flex-end;
}

/*.checkbox {
  margin-left: 5px;
}*/
